body{
  font-family: "Roboto";
  margin:0;
  padding: 0;
}

.logo{
position:absolute;
top: 2rem;
left: 1rem;
width: 10rem;
height: 6rem;
}

.hero{
height: 100%;
width: 100%;
}
ul{
  list-style-type: none;
  text-align: center;
}

li a{
    display: inline-flex;
    text-decoration: none;
}


.intro_text{
color: #C3BFBF;
font-size: 32px;
text-align: center;
}


.course_goals{
color: #777777;
font-size: 28px;
}

h1 {
font-size: 92px;
font-weight: 100;
color: #000000;
  text-align: center;
  position: absolute;
  top: 17rem;
  left: 28rem;
  color: white;
}


h3{
color: #000080;
}


.css{


}

.sass{


}

.responsive_design{

}

.javascript{

}

.version_control{

}
