
body{
  font-family: "Roboto";
  margin:0;
  padding: 0;
}

header{
  width:1348px;
  height:657px;
  background-image:url("hero.jpg");
  color: white;
  font-size: 18px;
}


.navbar li a{
Top:35px;
color: white;
padding-top: 35px;
padding-left: 0px;
padding-right: 0px;
font-weight: bold;
}

.logo{
position:absolute;
top: 2rem;
left: 1rem;
width: 10rem;
height: 6rem;
}


ul{
  list-style-type: none;
  margin: 0;
  padding:0;
}

li{
  float: right;
  padding-right: 6rem;

}
 a{
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform:uppercase;
}


h1 {
font-size: 92px;
font-weight: 100;
color: #000000;
  text-align: center;
  position: absolute;
  top: 15rem;
  left: 28rem;
  color: white;
}


.intro_text{
color: #C3BFBF;
font-size: 32px;
text-align: center;
Padding: 150px 0px 90px 77px;
}


.course_goals_title{
Padding: 135px 0px 69px 0px ;
color: #857F7F; 100%;
font-size: 28px;
font-weight:400;
text-align: center;
*

}



h3{
color: #000080;
}

.semantic_html{
border: 2px solid green;

}
