*{

box-sizing:border-box;
}

body{
  font-family: "Roboto";
  margin:0;
  padding: 0;
}

.hero{
height: 100%;
width: 100%;
}

.intro_text{
color: #C3BFBF;
font-size: 32px;
text-align: center;
}


.course_goals{
color: #777777;
font-size: 28px;
}

h1 {
font-size: 92px;
font-weight: 100;
color: #000000;
}

h3{
color: #000080;
}


.css{


}

.sass{


}

.responsive_design{

}

.javascript{

}

.version_control{

}
