$red: #ff3300;

$blue: #0000ff;

$title_grey: #857F7F;


body{
  font-family: "Roboto";
  margin:0;
  padding: 0;
}

header{
  width:1347px;
  height:657px;
  background-image:url("../images/hero.jpg");
  color: white;
  font-size: 18px;

  .logo{
  width: 235px;
  height: 125px;
  padding-top: 18px;
  padding-right: 100px;
  padding-bottom: 157px;
  padding-left: 34px;
  }

}



.navbar li a{
Top:35px;
color: white;
padding-top: 35px;
padding-left: 0px;
padding-right: 0px;
font-weight: bold;
}

.logo{
position:absolute;
top: 2rem;
left: 1rem;
width: 10rem;
height: 6rem;
}


ul{
  list-style-type: none;
  margin: 0;
  padding:0;
}

li{
  float: right;
  padding-right: 6rem;

}
 a{
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform:uppercase;
}


h1 {
font-size: 92px;
font-weight: 100;
color: #000000;
  text-align: center;
  position: absolute;
  top: 15rem;
  left: 28rem;
  color: white;
}


.intro_text{
color: #C3BFBF;
font-size: 32px;
text-align: center;
padding: 150px 0px 110px 77px;
}


.course_goals_title{
padding: 145px 0px 20px 0px;
color: $title_grey;
opacity: 100%;
font-size: 28px;
font-weight:400;
text-align: center;
}

h3{
color: #000080;
}

.course_goal{
  height: 300px;
  width:  400px;
  float: left;
  margin: 0;
  color: $title_grey;
  font-size: 16px;
  padding-left: 40px;
}

h4{
  color: #777777 100%;
  opacity: 100%
}

.meetcolearners{
  color: $title_grey;
  text-align: center;
}
