$red: #ff3300;

$blue: #0000ff;

$title_grey: #857F7F;


body{
  font-family: "Roboto";
  margin:0;
  padding: 0;
}

header{
  width:1347px;
  height:657px;
  background-image:url("../images/hero.jpg");
  color: white;
  font-size: 18px;
}


.navbar li a{
Top:35px;
color: white;
padding-top: 35px;
padding-left: 0px;
padding-right: 0px;
font-weight: bold;
}

.logo{
position:absolute;
top: 2rem;
left: 1rem;
width: 10rem;
height: 6rem;
}


ul{
  list-style-type: none;
  margin: 0;
  padding:0;
}

li{
  float: right;
  padding-right: 6rem;

}
 a{
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform:uppercase;
}


h1 {
font-size: 92px;
font-weight: 100;
color: #000000;
  text-align: center;
  position: absolute;
  top: 15rem;
  left: 28rem;
  color: white;
}


.intro_text{
color: #C3BFBF;
font-size: 32px;
text-align: center;
padding: 150px 0px 110px 77px;
}


.course_goals_title{
padding: 145px 0px 69px 0px;
color: $title_grey;
font-size: 28px;
font-weight:400;
text-align: center;
}

h3{
color: #000080;
}

.course_goal{
  height: 200px;
  width:  320px;
//  border: 10px solid orange;
display: flex;

}

.goal_1{

}

.goal_2{

}

.goal_3{

}

.goal_4{

}

.goal_5{

}

.goal_6{

}


.meetcolearners{
  color: $title_grey;
  text-align: center;
}
