$red: #ff3300;

$blue: #0000ff;

$grey: #777777 100%;


body{
  font-family: "Roboto";
  margin:0;
  padding: 0;
}

header{
  width:1347px;
  height:660px;
  background-image:url("../images/hero.jpg");
  color: white;
  font-size: 18px;

  .logo{
  width: 235px;
  height: 125px;
  padding-top: 18px;
  padding-right: 100px;
  padding-bottom: 157px;
  padding-left: 34px;
  }

}

.navbar li a{
Top:35px;
color: white;
padding-top: 35px;
padding-left: 0px;
padding-right: 0px;
font-weight: bold;
}

.logo{
position:absolute;
top: 2rem;
left: 1rem;
width: 10rem;
height: 6rem;
}


ul{
  list-style-type: none;
  margin: 0;
  padding:0;
}

li{
  float: right;
  padding-right: 6rem;

}
 a{
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform:uppercase;
}


h1 {
font-size: 92px;
font-weight: 100;
color: #000000;
  text-align: center;
  position: absolute;
  top: 15rem;
  left: 28rem;
  color: white;
}



.intro_text{
color: #C3BFBF;
font-size: 32px;
font-face: Roboto-Light;
}


.course_goals_title{
color: grey;
opacity: 100%;
font-size: 28px;
line: 33px (1.2);
margin-top:127px;
margin-bottom: 69px;
font-face:
}


h3{
color: #000080;
}

.courseGoals{
  color: grey;
  opacity: 100%;
  font-size: 16px;
  line: 18px (1.1);
  font-face: Roboto-Bold;
}


h4{
  color: #grey;
  opacity: 100%
}

.meetcolearners{
  color: grey;
  text-align: center;
}

.theColearners{
    margin-bottom: 135px;
}


.instructorText p{
text-color: #ffffff;
}

.graduate{
  color: #C3BFBF;
  font-size: 32px;
  font-face: Roboto-Light;
}

.footer{

}
